/* header */
.header{
    background-image: linear-gradient(90deg,white,rgb(173, 93, 173));
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}
#lists{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
#lists li{
    list-style: none;
}
#lists li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#lists li a:hover{
    color: rgb(131, 90, 131);
}


/* search bar */
.search{
    /* background-image: url("/images/back2.jfif"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.input input{
    width: 50%;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgb(245, 234, 245);
    border:0;
}
.input button{
    font-weight: bold;
    padding: 9px 20px;
    border: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(236, 129, 236);
}
.input button:hover{
    background-color:  rgb(240, 80, 240);
}
/* category */

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
}
.cat-items{
    text-align: center;
    padding: 20px 0;
}
.cat-items a img{
    padding-bottom: 20px;
    border-radius: 20px;
    transition: ease all 1s;
    /* width: 500px; */
}
.cat-items img:hover{
    opacity: 0.8;
    transform: scale(0.9);
}
.cat-items h3:hover{
    color: rgb(236, 129, 236);
}
.cat-items a{
    text-decoration: none;
    color: black;
}

/* Cake */
.crow{
    justify-content: space-evenly;

}
.crow h1{
    text-align: center;
    margin: 20px 0;
    margin-bottom: 60px;
}
.corder{
    /* width: auto; */
    /* width: 33%; */
    /* display: flex;
    flex-direction: row;
    border: 0px;
    padding:10px;
    background-color: white;
    border-radius: 20px;
    transition:  all ease 1s; */
    /* margin-left: 10px; */
    padding: 20px 10px;
    text-align: center;
    width: 25%;
    margin: 70px 10px;
    /* border: green solid 4px; */
    background-color: honeydew;
    border-radius: 20px;
    

}
.corder h3{
    margin-top: 20px;
}
.corder p{
    text-justify: distribute-all-lines;
    font-size: 17px;
    padding: 10px 0;
   
}
.bold{
    font-weight: bold;
    color: rgb(255, 0, 255);
}
.cimg{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 250px;
    border-radius: 20px;
}
.cbtn{
    /* float: inline-end; */
    background-color: rgb(245, 168, 245);
    font-weight: bold;
    color: white;
    font-size: 20px;
    /* padding: 0 20px; */
    /* justify-self: center; */
    width: 40%;

    border:0;
    border-radius: 5px;
    transition: ease all 0.9s;
}
.cbtn a{
    text-decoration: none;
    color: white;
}
.cbtn a:hover{
    color: white;
}
.cbtn:hover{
    background-color: rgb(255, 0, 255);
    color:white
}



/* billing-quantity */
.quantity{
    display: flex; 
    /* border: solid black 3px; */
    padding: 20px; 
    margin-top: 20px;
    background-color: rgb(230, 222, 230);
    width: 40%;
    border-radius: 20px;
}
.qimg{
    width: 50%;
    height: 100px;
    border-radius: 20px;
}
.qdesp{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 100%;
    /* border: solid black 3px; */
    padding: 0px 20px;
}
.qdesp span,.qdesp form label{
    font-weight: bold;
    padding-bottom: 10px;
}
.qdesp form input{
    border: 0;
    width: 20%;
    border-radius: 10px;
}

/* billing delivery */
#h1{
    margin-top: 40px;
}
.delivery{
    display: flex; 
    /* border: solid black 3px; */
    padding: 20px; 
    margin-top: 20px;
    background-color: rgb(230, 222, 230);
    width: 40%;
    border-radius: 20px;
}
.dform input,.dform textarea{
    width: 200%;
    border-radius: 10px;
}
.deliverybtn{
    margin-top: 10px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(245, 168, 245);
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    transition: ease all 0.4s;
}
.deliverybtn:hover{
    background-color: rgb(240, 80, 240);
}

/* footer */
.foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 211, 238);
    padding: 10px;
}
.soc i{
    font-size: 40px;
    padding: 5px;
    color: black;
    transition: all 0.2s;
}
.soc i:hover{
    color: rgb(236, 129, 236);
}
.copy{

    text-align: center;
    padding-top: 20px;
}
.copy a{
    color: black;
}
.copy a:hover{
    color: rgb(236, 129, 236);
}

/* back end styles */
.error{
    color: red;
    text-align: center;
    width: 100%;
}
.no-error{
    color: green;
    text-align: center;
    width: 100%;
}

/* @media only  screen and (max-width:1030px){
    .cimg{
        width: 40%;
    }
} */